@import "@fontsource/playfair-display";
@import "@fontsource/inter";
@import "tailwindcss";


/* Lenis required styles */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Base resets */
@layer base {
  body {
    @apply antialiased text-base bg-white text-black;
  }
}